/app/compiled-templates/
/app/logs/*
/app/logs/debug.log
/logs/
/app/cache/acl/acl-cache
/app/cache/acl/controllermap-cache
/public/assets/
/.idea/
/app/config/*
/tmp/
/app/cache/*
/public/assets/
/public/mail_structure/*
/.idea/
/app/config/
/nbproject/*
/tmp/*
/public/.htaccess
C:/Users/juan.pinzon/Documents/NetBeansProjects/aio/public/.htaccess
tmpopen.csv
/public/allied-assets/
/public/root-assets/
public/images/logos
/public/mail_structure/
public/images/general/EncuestasJpg.jpg
/app/bgprocesses/api/
/public/node_modules/
/public/package-lock.json