.popover {
  background-color: #000000;
  border-color: #000000;
      max-width: 350px;
}

.popover-content {
  word-wrap: break-word;
  word-break: break-all;
  color: white;
}
.popover.bottom > .arrow:after{
  border-bottom-color: #000000;

}
.popover-title {
  background-color: #000000;
  border-bottom: 1px solid #000000;
  color: white;
}
/*.popover.bottom {
  margin-left: -40px;
  margin-top: 14px;
}*/
.labelColor{
  margin-left: 16px;
}

.color-text {
    color: white;
}
/*.popover.left  .arrow:after {
    border-left-color: #f0ad4e;
}
.popover.bottom > .arrow:after{
    background-color: #f0ad4e;
}*/
