<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/socket.io/socket.io.js"></script>
    <script src='/javascripts/main.js'></script>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="messages"></div>
    <br>
    <br>
    <div id="respuesta"></div>
    <br>
    <form onsubmit="return addMessage(this)">
      <input type="number" id="idSms" placeholder="Ingresa el id del sms" >
      <input type="submit" value="Enviar!">
    </form>
    
    <button onclick="return sentData()">eppah</button>
  </body>

</html>
